.cabecalho{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: rgb(119, 119, 119);
}

.cabecalho ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    display: flex;
    height: 100%;
}

.itens{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width:120px;
}

.itens a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 60px;
    width: 100%;
}

.itens a:hover{
    background-color: rgb(75, 75, 75);
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 40px;
    color: rgb(208, 219, 253);
}